<body>
    <div class="wrapper"*ngFor="let data of data$ | async">
        <div class="view_main">
            <div class="view_wrap list-view" style="display: block;">

                <div class="view_item">
                    <div class="vi_left">
                        <img src="https://i.pinimg.com/564x/ec/e2/b0/ece2b0f541d47e4078aef33ffd22777e.jpg" alt="product1">
                    </div>
                    <div class="vi_right">
                        <p class="title">Order ID : {{data._id}}</p>
                        <p class="content">Total Price : Rp.{{data.totalprice}}</p>
                        <p class="content">  Order Made On : {{data.history}} by {{data.user.username}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>       
</body>