<body>
    <div class="wrapper"*ngFor="let data of data$ | async">
        <div class="view_main">
            <div class="view_wrap list-view" style="display: block;">

                <div class="view_item">
                    <div class="vi_left">
                        <img src="../../../../assets/product1.jpg" alt="product1">
                    </div>
                    <div class="vi_right">
                        <p class="title">Order ID : {{data._id}}</p>
                        <p class="content">Total Price : ${{data.totalprice}}</p>
                        <p class="content">  Order Made On : {{data.history}} by {{data.user.username}} </p>
                        <div class="btn">View More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>       
</body>