<section class="home">
  <div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-controls">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active" style="background-image:url('../../../../assets/men.jpg')"></li>
      <li data-target="#carousel" data-slide-to="1" style="background-image:url('../../../../assets/women.jpg')"></li>
      <li data-target="#carousel" data-slide-to="2" style="background-image:url('../../../../assets/kids.jpg')"></li>
    </ol>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
     <img src="../../../../assets/left-arrow.svg" alt="Prev"> 
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <img src="../../../../assets/right-arrow.svg" alt="Next">
  </a>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image:url('../../../../assets/men.jpg')">
      <div class="container">
         <h2>Fashion For Men</h2>
         <p>New Arrival This Summers</p>
      </div>
    </div>
    <div class="carousel-item" style="background-image:url('../../../../assets/women.jpg')">
      <div class="container">
         <h2>Fashion For Women</h2>
         <p>New Arrival This Summer</p>
      </div>
    </div>
    <div class="carousel-item" style="background-image:url('../../../../assets/kids.jpg')">
      <div class="container">
         <h2>Fashion For Kids</h2>
         <p>New Arrival This Summers</p>
      </div>
    </div>
  </div>
</div>
 </section>