<section class="section category">
  <div class="title">
    <h1>Latest Products</h1>
  </div>
    <div class="category-center container">
      <div class="category-box">
        <img src="../../../assets/profile3.jpg" alt="category-1">
        <div class="content">
          <h2>Shop for Man</h2>
          <a [routerLink]="['../product/product-item']">shop now</a>
        </div>
      </div>

      <div class="category-box">
        <img src="../../../../assets/banner-women.jpg" alt="category-2">
        <div class="content">
          <h2>Shop for Woman</h2>
          <a [routerLink]="['../product/product-item']">shop now</a>
        </div>
      </div>

      <div class="category-box">
        <img src="../../../../assets/banner-kids.jpg" alt="category-3">
        <div class="content">
          <h2>Shop for Kids</h2>
          <a [routerLink]="['../product/product-item']">shop now</a>
        </div>
      </div>

    </div>
  </section>