<section class="gallary container">
    <figure class="gallary-item item-1">
      <img src="https://i.pinimg.com/originals/94/4e/5a/944e5a0b16872d2df2dd57f0609e29ef.gif" alt="" class="gallary-img">

    </figure>

    <figure class="gallary-item item-2">
      <img src="https://i.pinimg.com/originals/d7/0d/cb/d70dcba44bc4335b5e309fdeb6aef4b1.gif" alt="" class="gallary-img">
      <div class="content">
      </div>
    </figure>

    <figure class="gallary-item item-3">
      <img src="https://i.pinimg.com/originals/24/02/d3/2402d3fde225b04f970c67334ceb8644.gif" alt="" class="gallary-img">
      <div class="content">
      </div>
    </figure>

    <figure class="gallary-item item-4">
      <img src="../../../../assets/grid_4.jpg" alt="" class="gallary-img">
      <div class="content">
        <h2>Our Popular Products</h2>
        <a  [routerLink]="['../product/product-item']">Shop Now</a>
      </div>
    </figure>
  </section>