<footer id="footer" class="section footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer-top__box">
          <h3>EXTRAS</h3>
          <a [routerLink]="['coming-soon']">Brands</a>
          <a [routerLink]="['coming-soon']">Gift Certificates</a>
          <a [routerLink]="['coming-soon']">Affiliate</a>
          <a [routerLink]="['coming-soon']">Specials</a>
          <a [routerLink]="['coming-soon']">Sustainability</a>
        </div>
        <div class="footer-top__box">
          <h3>INFORMATION</h3>
          <a [routerLink]="['coming-soon']">About Us</a>
          <a [routerLink]="['coming-soon']">Privacy Policy</a>
          <a [routerLink]="['coming-soon']">Terms & Conditions</a>
          <a [routerLink]="['coming-soon']">Customer Service</a>
          <a [routerLink]="['coming-soon']">Contact Us</a>
          <a [routerLink]="['coming-soon']">Site Map</a>
        </div>
        <div class="footer-top__box">
          <h3>MY ACCOUNT</h3>
          <a [routerLink]="['user/profile-detail']">My Account</a>
          <a [routerLink]="['user/order-list']">Order History</a>
          <a [routerLink]="['user/cart']">Cart List</a>
          <a [routerLink]="['coming-soon']">Wish List</a>
          <a [routerLink]="['coming-soon']">Newsletter</a>
          <a [routerLink]="['coming-soon']">Returns</a>
        </div>
        <div class="footer-top__box">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <svg>
                <use xlink:href="../../../../assets/sprite.svg#icon-location"></use>
              </svg>
            </span>
            Jl. M.H. Thamrin No.Kav. 28-30, Gondangdia, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10350
          </div>
          <div>
            <span>
              <svg>
                <use xlink:href="../../../../assets/sprite.svg#icon-envelop"></use>
              </svg>
            </span>
            clothesshop@gmail.com
          </div>
          <div>
            <span>
              <svg>
                <use xlink:href="../../../../assets/sprite.svg#icon-phone"></use>
              </svg>
            </span>
           081-371-2208
          </div>
         
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer-bottom__box">

      </div>
      <div class="footer-bottom__box">

      </div>
    </div>
  </footer>